:root {
    --pearl-beige: #E0D5B2;
    --dark-khaki: #262A10;
    --reddish-brown: #A53F2B;
    --midnight-violet: #271033;
    --glaucous: #777DA7;

    --header-font: "EB Garamond", serif;
    --text-font: "Montserrat", sans-serif;
}